---
import { getCollection } from 'astro:content'

import { format } from 'date-fns'

const posts = (await getCollection('posts')).sort(function (a, b) {
    return b.data.publishedAt.getTime() - a.data.publishedAt.getTime()
})
---

<div id="posts" class="container mx-auto">
    <div class="mx-4 my-8 text-slate-900">
        <h2 class="font-sans text-4xl font-semibold antialiased">Posts</h2>
        <div class="mt-3 space-y-4 text-slate-500">
            {
                posts.map((post) => (
                    <div class="text-lx grid grid-cols-4 gap-3 border-b first:pt-3">
                        <div class="col-span-3 pb-3">
                            <a
                                href={post.slug}
                                class="font-sans font-semibold no-underline antialiased hover:underline"
                            >
                                {post.data.title}
                            </a>
                        </div>
                        <div class="pb-3 text-right">
                            {format(post.data.publishedAt, 'MMMM yyyy')}
                        </div>
                    </div>
                ))
            }
        </div>
    </div>
</div>
