---
import { getCollection } from 'astro:content'

import Organisations from '../organisation/index.astro'

const employmentEvents = await getCollection('events', ({ data }) => {
    return data.type === 'employment'
})

const companies = (
    await getCollection('organisations', ({ data }) => {
        return data.type === 'employer'
    })
)
    .map((company) => {
        const companyEvents = employmentEvents.filter(
            (event) => event.data.organisationId === company.data.id
        )

        if (companyEvents.length === 0) {
            return company
        }

        const dateFrom = companyEvents.reduce((earliest, event) => {
            return event.data.dateFrom < earliest ? event.data.dateFrom : earliest
        }, companyEvents[0].data.dateFrom)

        const dateTo = companyEvents.reduce(
            (latest: Date | null, event) => {
                if (!event.data.dateTo) return latest
                if (!latest) return event.data.dateTo
                return event.data.dateTo > latest ? event.data.dateTo : latest
            },
            null as Date | null
        )

        return {
            ...company,
            data: {
                ...company.data,
                dateFrom,
                dateTo,
                events: companyEvents.length
            }
        }
    })
    .sort(function (a, b) {
        return (b.data.dateFrom as Date).getTime() - (a.data.dateFrom as Date).getTime()
    })
---

<div class="space-y-4">
    <h2 class="text-2xl font-extrabold tracking-tight text-gray-900 md:text-3xl">Employment</h2>
    <div>
        {companies.map((company) => <Organisations organisation={company} />)}
    </div>
</div>
