---
import { getCollection } from 'astro:content'

import Organisations from '../organisation/index.astro'

const eventCountByOrganisation = (
    await getCollection('events', ({ data }) => {
        return data.type === 'employment'
    })
).reduce(
    (acc, event) => {
        const organisationId = event.data.organisationId
        acc[organisationId] = (acc[organisationId] || 0) + 1
        return acc
    },
    {} as Record<string, number>
)

const companies = (
    await getCollection('organisations', ({ data }) => {
        return data.type === 'employer'
    })
)
    .map((organisation) => ({
        ...organisation,
        data: {
            ...organisation.data,
            events: eventCountByOrganisation[organisation.data.id] || 0
        }
    }))
    .sort(function (a, b) {
        return b.data.dateFrom.getTime() - a.data.dateFrom.getTime()
    })
---

<div class="space-y-4">
    <h2 class="text-2xl font-extrabold tracking-tight text-gray-900 md:text-3xl">Employment</h2>
    <div>
        {companies.map((company) => <Organisations organisation={company} />)}
    </div>
</div>
