---
import { getCollection } from 'astro:content'

import Organisations from '../organisation/index.astro'

const companies = (
    await getCollection('organisations', ({ data }) => {
        return data.type === 'employer'
    })
).sort(function (a, b) {
    return b.data.dateFrom.getTime() - a.data.dateFrom.getTime()
})
---

<div class="space-y-4">
    <h2 class="text-2xl font-extrabold tracking-tight text-gray-900 md:text-3xl">Employment</h2>
    <div>
        {companies.map((company) => <Organisations organisation={company} />)}
    </div>
</div>
