---
import Badge from '@components/block/Badge.astro';
import Section from '@components/block/Section.astro';
import SectionHead from '@components/block/SectionHead.astro';
import Organisation from '@components/home/experience/organisation/index.astro';
import { School } from '@lucide/astro';
import { getCollection } from 'astro:content';

const trainingEvents = await getCollection('events', ({ data }) => {
    return data.type === 'training';
});

const trainers = (
    await getCollection('organisations', ({ data }) => {
        return data.type === 'trainer';
    })
)
    .map((trainer) => {
        const trainerEvents = trainingEvents.filter(
            (event) => event.data.organisationId.id === trainer.data.id
        );

        if (trainerEvents.length === 0) {
            return null;
        }

        const dateFrom = trainerEvents.reduce((latest, event) => {
            return event.data.dateFrom > latest ? event.data.dateFrom : latest;
        }, trainerEvents[0].data.dateFrom);

        return {
            ...trainer,
            data: { ...trainer.data, dateFrom }
        };
    })
    .filter((trainer) => trainer !== null)
    .sort(function (a, b) {
        return b.data.dateFrom.getTime() - a.data.dateFrom.getTime();
    });
---

<Section>
    <SectionHead title="Training" subtitle="Always learning, here's the proof">
        <Badge slot="badge" label="Courses">
            <School size={26} stroke-width={1.5} />
        </Badge>
    </SectionHead>
    <div class="mt-9">
        {
            trainers.map((trainer, index) => (
                <Organisation
                    organisation={trainer}
                    isLast={index === trainers.length - 1}
                />
            ))
        }
    </div>
</Section>
