---
import { getCollection } from 'astro:content';

import ChapterDescription from '@components/home/experience/chapter/description.astro';
import Chapter from '@components/home/experience/chapter/index.astro';
import ChapterTitle from '@components/home/experience/chapter/title.astro';
import Organisation from '@components/home/experience/organisation/index.astro';

import { School } from '@lucide/astro';

const trainingEvents = await getCollection('events', ({ data }) => {
    return data.type === 'training';
});

const trainers = (
    await getCollection('organisations', ({ data }) => {
        return data.type === 'trainer';
    })
)
    .map((trainer) => {
        const trainerEvents = trainingEvents.filter(
            (event) => event.data.organisationId.id === trainer.data.id
        );

        if (trainerEvents.length === 0) {
            return null;
        }

        const dateFrom = trainerEvents.reduce((earliest, event) => {
            return event.data.dateFrom < earliest
                ? event.data.dateFrom
                : earliest;
        }, trainerEvents[0].data.dateFrom);

        const dateTo = trainerEvents.reduce(
            (latest: Date | null, event) => {
                if (!event.data.dateFrom) return latest;
                if (!latest) return event.data.dateFrom;
                return event.data.dateFrom > latest
                    ? event.data.dateFrom
                    : latest;
            },
            null as Date | null
        );

        return {
            ...trainer,
            data: {
                ...trainer.data,
                dateFrom,
                dateTo,
                events: trainerEvents.length
            }
        };
    })
    .filter((trainer) => trainer !== null)
    .sort(function (a, b) {
        return (
            (b.data.dateFrom as Date).getTime() -
            (a.data.dateFrom as Date).getTime()
        );
    });

import ChapterHeader from '@components/home/experience/chapter/header.astro';
---

<div class="flex-grow border-t border-[#e2e2d3] bg-[#f7f7f4]">
    <div class="container mx-auto max-w-6xl space-y-16 py-16 md:space-y-32">
        <Chapter>
            <div class="flex flex-col space-y-8">
                <header class="flex flex-row gap-4">
                    <ChapterHeader>
                        <ChapterTitle>Training</ChapterTitle>
                        <ChapterDescription
                            >Always learning, here's the proof</ChapterDescription
                        >
                    </ChapterHeader>
                    <div class="flex h-14 w-14 items-center justify-center">
                        <School size="48" stroke-width={1} />
                    </div>
                </header>
                <div>
                    {
                        trainers.map((trainers) => (
                            <Organisation organisation={trainers} />
                        ))
                    }
                </div>
            </div>
        </Chapter>
    </div>
</div>
