---
import { type CollectionEntry, getCollection } from 'astro:content'

import { ExternalLink } from 'lucide-astro'

import Event from '../event/index.astro'
import EventDescription from '../event/EventDescription.svelte'

interface Props {
    organisation: CollectionEntry<'organisations'>
}

const { organisation } = Astro.props

const events = (
    await getCollection('events', ({ data }) => {
        return data.organisationId === organisation.data.id
    })
).sort(function (a, b) {
    if (a.data.dateFrom && b.data.dateFrom) {
        return b.data.dateFrom.getTime() - a.data.dateFrom.getTime()
    } else {
        return 0
    }
})
---

<h3 class="flex text-xl font-semibold tracking-tight text-gray-900">
    <a class="space-x-1" href={organisation.data.uri} target="_blank">
        <span class="hover:underline">{organisation.data.name}</span>
        <ExternalLink class="inline h-4 w-4" />
    </a>
</h3>
{
    organisation.data.type === 'employer' &&
        organisation.data.events &&
        organisation.data.events > 1 && (
            <p class="mt-2 text-sm text-gray-500">
                <EventDescription
                    dateFrom={organisation.data.dateFrom as Date}
                    dateTo={organisation.data.dateTo as Date}
                />
            </p>
        )
}
<div class="py-2">
    {events.map((event) => <Event event={event} organisation={organisation} />)}
</div>
