{
    "printWidth": 100,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "none",
    "useTabs": false,
    "plugins": [
        "prettier-plugin-astro",
        "prettier-plugin-tailwindcss",
        "@trivago/prettier-plugin-sort-imports",
        "prettier-plugin-organize-imports"
    ],
    "importOrder": [
        "<THIRD_PARTY_MODULES>",
        "^./\\$(.*)$",
        "\\$lib/components/(.*)$",
        "\\$lib/(.*)$",
        "^./(.*)$"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
