---
const { class: className } = Astro.props;
---

<h2
    class:list={[
        'text-3xl leading-tight font-semibold tracking-tight text-pretty text-gray-900 md:text-5xl',
        className
    ]}
>
    <slot />
</h2>
