---
import { ExternalLink } from 'lucide-astro'

interface Props {
    title: string
    uri?: string | null | undefined
}

const { title, uri } = Astro.props
---

<li class="relative mb-4 flex space-x-4 pb-8">
    <div
        class="grid h-10 w-8 flex-none justify-center bg-white pt-1 before:absolute before:left-[15px] before:-z-20 before:h-full before:w-[1px] before:bg-gray-300"
    >
        <slot name="icon" />
    </div>
    <div class="m-h-4 grow">
        <h5 class="align-middle font-sans text-lg font-bold text-slate-900 antialiased">
            {
                uri && (
                    <a class="space-x-1" href={uri} target="_blank">
                        <span class="hover:underline">{title}</span>
                        <ExternalLink class="inline h-4 w-4" />
                    </a>
                )
            }
            {!uri && title}
        </h5>
        <small><slot name="description" /></small>
    </div>
</li>
