---
import type { CollectionEntry } from 'astro:content';
import { render } from 'astro:content';
import { formatDateRange, formatMonthYear } from '../../../../lib/utils';
import EventDescription from './EventDescription.svelte';

interface Props {
    event: CollectionEntry<'events'>;
}

const { event } = Astro.props;

const { Content } = await render(event);

const { dateFrom, dateTo } = event.data;

const ongoing = !dateTo;

const eventDates = { dateFrom, dateTo };
---

<div class="max-w-[66ch]">
    <div class="text-muted flex items-baseline gap-2 text-[13px] font-bold">
        <span class="text-ink">
            {event.data.title}
        </span>
        ·
        <span>
            {
                ongoing ? (
                    <>{formatMonthYear(dateFrom)} – Present</>
                ) : (
                    <>{formatDateRange(dateFrom, dateTo)}</>
                )
            }
        </span>
        ·
        <span>
            {
                ongoing ? (
                    <EventDescription client:only="svelte" {...eventDates} />
                ) : (
                    <EventDescription {...eventDates} />
                )
            }
        </span>
    </div>
    <div
        class="prose text-muted prose-p:text-sm prose-p:leading-[1.6] prose-p:text-muted mt-2"
    >
        {Content ? <Content /> : <p>Content not found</p>}
    </div>
</div>
