---
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'

interface Props {
    entry: CollectionEntry<'skills'>
}

const { entry } = Astro.props

const { Content } = await entry.render()
---

<div class="bg-white px-4 py-3 md:rounded-md md:border md:border-gray-200 md:py-6 md:shadow-lg">
    <div class="flex h-16 w-16 items-center justify-center rounded-md bg-stone-100">
        <Image src={entry.data.img} alt={entry.data.alt} class="h-12 w-12" loading="eager" />
    </div>
    <h5 class="mt-5 font-sans text-xl font-semibold tracking-tight text-gray-900 antialiased">
        {entry.data.title}
    </h5>
    <div class="prose prose-slate">
        <Content />
    </div>
</div>
