---
import { Image } from 'astro:assets'
import { getEntry } from 'astro:content'

import Block from '../../block/index.astro'
import BlockTitle from '../../block/title.astro'
import BlockContent from '../../block/content.astro'

import Avatar from '../../../assets/MatthewAkinoWittering-BW-Alpha.png'

import Footer from './footer.astro'

const blurb = await getEntry('blurbs', 'about-me')

const { Content } = await blurb.render()
---

<Block>
    <header>
        <div class="h-56 w-56 overflow-hidden rounded-full bg-gray-100">
            <Image src={Avatar} alt="Photo of Matthew Akino-Wittering" loading="eager" />
        </div>
    </header>
    <div class="flex flex-col space-y-4">
        <BlockTitle>{blurb.data.title}</BlockTitle>
        <BlockContent>
            <Content />
        </BlockContent>
    </div>
    <Footer />
</Block>
