---
import { getEntry } from 'astro:content'
import Footer from './footer.astro'

const blurb = await getEntry('blurbs', 'about-me')

const { Content } = await blurb.render()
---

<div id="aboutme" class="container mx-auto">
    <div class="flex flex-col space-y-16 stroke-slate-900 px-4 text-slate-900">
        <header>
            <div class="h-24 w-24 rounded-full bg-stone-200"></div>
        </header>
        <section>
            <h2 class="text-3xl font-semibold text-gray-900 dark:text-white">{blurb.data.title}</h2>
            <div class="prose prose-lg mt-4 text-gray-900 dark:text-white">
                <Content />
            </div>
        </section>
        <Footer />
    </div>
</div>
