---
import { Image } from 'astro:assets';
import { getEntry, render } from 'astro:content';

import BlockContent from '@components/block/content.astro';
import BlockHeader from '@components/block/header.astro';
import Block from '@components/block/index.astro';
import BlockSubtitle from '@components/block/subtitle.astro';
import BlockTitle from '@components/block/title.astro';

import Avatar from '../../../assets/MatthewAkinoWittering-BW-Alpha.png';

import Footer from './footer.astro';

const blurb = await getEntry('blurbs', 'about-me');

if (!blurb) return Astro.redirect('/404');

const { Content } = await render(blurb);
---

<div class="flex-grow bg-white">
    <div class="container mx-auto max-w-6xl py-16">
        <Block>
            <header>
                <div class="h-56 w-56 overflow-hidden rounded-full bg-gray-100">
                    <Image
                        src={Avatar}
                        alt="Matthew Akino-Wittering"
                        loading="eager"
                    />
                </div>
            </header>
            <div class="flex flex-col space-y-4">
                <BlockHeader class="space-y-2">
                    <BlockTitle>{blurb?.data.title}</BlockTitle>
                    <BlockSubtitle>{blurb?.data.subtitle}</BlockSubtitle>
                </BlockHeader>
                <BlockContent>
                    {Content ? <Content /> : <p>Content not found</p>}
                </BlockContent>
            </div>
            <Footer />
        </Block>
    </div>
</div>
