---
import { Image } from 'astro:assets'

import Layout from '../layouts/Layout.astro'

import Alien from '../assets/alien.svg'

const metaData = {
    title: 'Page Not Found!',
    description: `Oops! This is embarrassing. You weren't supposed to see me...`
}
---

<Layout metaData={metaData}>
    <div class="flex min-h-screen items-center justify-center text-center">
        <div class="m-5 flex flex-col items-center">
            <Image src={Alien} alt="Alien with Spock hand" class="h-48 w-48" loading="eager" />
            <div class="flex w-full flex-col gap-3">
                <h1 class="text-3xl font-extrabold">Page Not Found!</h1>
                <p class="text-lg text-gray-800">
                    Oops! This is embarrassing. You weren't supposed to see me...
                </p>
            </div>
            <footer class="w-full py-5">
                <a
                    href="/"
                    class="inline-flex items-center rounded bg-gray-300 px-4 py-2 font-bold hover:bg-gray-400"
                >
                    Run away...
                </a>
            </footer>
        </div>
    </div>
</Layout>
