---
import Layout from '../layouts/Layout.astro'
import Posts from '../components/blog/posts/index.astro'
---

<Layout title="Blog">
    <div class="container mx-auto max-w-6xl space-y-32">
        <Posts />
    </div>
</Layout>
