---
import Layout from '../layouts/Layout.astro'

import Header from '../components/header/index.astro'

import AboutMe from '../components/home/about-me/index.astro'
import Experience from '../components/home/experience/index.astro'
import WhatDoIDo from '../components/home/what-do-i-do/index.astro'

import { calcLengthInYears } from '../lib/utils.ts'

const dateFrom = new Date('2010-01-01T00:00:00+0000')
const dateTo = new Date()

const metaData = {
    description: `I am a Product Manager with over ${calcLengthInYears(
        dateFrom,
        dateTo
    )} of experience, primarily in internal platforms and B2B SaaS applications.`,
    additionalMetaTags: [
        {
            name: 'google-site-verification',
            content: 'F_gIghpXfLjo0LORq-3zJ1HjUIlKmy2iTb9lWQD_BfM'
        }
    ]
}
---

<Layout metaData={metaData}>
    <Header />
    <div class="flex-grow">
        <div class="container mx-auto max-w-6xl space-y-32 py-8">
            <AboutMe />
            <WhatDoIDo />
            <Experience />
        </div>
    </div>
</Layout>
