---
import Layout from '../layouts/Layout.astro'
import AboutMe from '../components/home/about-me/index.astro'
import Posts from '../components/home/posts/index.astro'
import Experience from '../components/home/experience/index.astro'
import Skills from '../components/home/skills/index.astro'
---

<Layout title="Home">
    <div class="container mx-auto max-w-6xl space-y-32">
        <AboutMe />
        <Posts />
        <Skills />
        <Experience />
    </div>
</Layout>
