---
import Layout from '../layouts/Layout.astro'
import Header from '../components/header/index.astro'
import Experience from '../components/home/experience/index.astro'
import Footer from '../components/footer/index.astro'
---

<Layout title="Home">
    <Header />
    <div class="my-16 flex-grow">
        <div class="container mx-auto max-w-6xl space-y-32">
            <Experience />
        </div>
    </div>
    <Footer />
</Layout>
