---
import Layout from '../layouts/Layout.astro'
import AboutMe from '../components/home/about-me/index.astro'
import Experience from '../components/home/experience/index.astro'
import WhatDoIDo from '../components/home/what-do-i-do/index.astro'
---

<Layout title="Home">
    <div class="container mx-auto max-w-6xl space-y-32">
        <AboutMe />
        <WhatDoIDo />
        <Experience />
    </div>
</Layout>
