---
import { getCollection } from 'astro:content';

import ChapterDescription from '@components/home/experience/chapter/description.astro';
import Chapter from '@components/home/experience/chapter/index.astro';
import ChapterTitle from '@components/home/experience/chapter/title.astro';
import Organisation from '@components/home/experience/organisation/index.astro';

import { Building } from '@lucide/astro';

const employmentEvents = await getCollection('events', ({ data }) => {
    return data.type === 'employment';
});

const companies = (
    await getCollection('organisations', ({ data }) => {
        return data.type === 'employer';
    })
)
    .map((company) => {
        const companyEvents = employmentEvents.filter(
            (event) => event.data.organisationId.id === company.data.id
        );

        if (companyEvents.length === 0) {
            return null;
        }

        const dateFrom = companyEvents.reduce((earliest, event) => {
            return event.data.dateFrom < earliest
                ? event.data.dateFrom
                : earliest;
        }, companyEvents[0].data.dateFrom);

        const dateTo = companyEvents.reduce(
            (latest: Date | null, event) => {
                if (!event.data.dateTo) return latest;
                if (!latest) return event.data.dateTo;
                return event.data.dateTo > latest ? event.data.dateTo : latest;
            },
            null as Date | null
        );

        return {
            ...company,
            data: {
                ...company.data,
                dateFrom,
                dateTo,
                events: companyEvents.length
            }
        };
    })
    .filter((company) => company !== null)
    .sort(function (a, b) {
        return (
            (b.data.dateFrom as Date).getTime() -
            (a.data.dateFrom as Date).getTime()
        );
    });

import ChapterHeader from '@components/home/experience/chapter/header.astro';
---

<div class="flex-grow border-t border-b border-[#e2e2d3] bg-[#f7f7f4]">
    <div class="container mx-auto max-w-6xl space-y-16 py-16 md:space-y-32">
        <Chapter>
            <div class="flex flex-col space-y-8">
                <header class="flex flex-row gap-4">
                    <ChapterHeader>
                        <ChapterTitle>Career</ChapterTitle>
                        <ChapterDescription
                            >Where I've worked and what I've built</ChapterDescription
                        >
                    </ChapterHeader>
                    <div class="flex h-14 w-14 items-center justify-center">
                        <Building size="48" stroke-width={1} />
                    </div>
                </header>
                <div>
                    {
                        companies.map((company) => (
                            <Organisation organisation={company} />
                        ))
                    }
                </div>
            </div>
        </Chapter>
    </div>
</div>
