---
// Component to embed a Tweet generated with https://publish.twitter.com
// as a blockquote in the a MDX file.
---

<div class="flex justify-center py-6">
    <slot />
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
