---
import { Home, Rss } from 'lucide-astro'
---

<nav class="border-gray-200 bg-stone-100 dark:border-gray-700 dark:bg-gray-800">
    <div class="mx-auto flex max-w-6xl flex-wrap items-center justify-between p-4">
        <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
            <span class="self-center whitespace-nowrap text-2xl font-semibold dark:text-white"
                >Matthew Akino-Wittering</span
            >
        </a>
    </div>
</nav>
