<nav>
    <div class="container mx-auto flex max-w-6xl flex-wrap items-center justify-between p-4">
        <a href="/">
            <span class="self-center font-sans text-2xl font-semibold whitespace-nowrap"
                >Matthew Akino-Wittering</span
            >
        </a>
    </div>
</nav>
