---
import { getCollection } from 'astro:content'

import Organisations from './organisation.astro'

const companies = (
    await getCollection('organisations', ({ data }) => {
        return data.type === 'company'
    })
).sort(function (a, b) {
    return b.data.dateFrom.getTime() - a.data.dateFrom.getTime()
})
---

<div class="mx-4 my-8">
    <h2 class="text-3xl font-bold antialiased">Experience</h2>
    {companies.map((company) => <Organisations entry={company} />)}
</div>
