---
import { type CollectionEntry, getCollection } from 'astro:content'

import { CircleUserRound, Building2 } from 'lucide-astro'
import { format } from 'date-fns'

import Event from '../event/index.astro'

import { calcLengthOfService } from '../../../lib/role/utils.ts'

interface Props {
    entry: CollectionEntry<'organisations'>
}

const { entry } = Astro.props

const events = (
    await getCollection('events', ({ data }) => {
        return data.organisationId === entry.data.id
    })
).sort(function (a, b) {
    if (a.data.dateFrom && b.data.dateFrom) {
        return b.data.dateFrom.getTime() - a.data.dateFrom.getTime()
    } else {
        return 0
    }
})
---

<div class="my-8 flex space-x-4">
    <div class="grid h-8 w-8 flex-none justify-center">
        <Building2 class="h-8 w-8" />
    </div>
    <div class="m-h-8 grow">
        <h3 class="font-sans text-xl font-semibold antialiased">{entry.data.name}</h3>
    </div>
</div>
<ul>
    {
        events.map((event) => (
            <Event title={event.data.title}>
                <CircleUserRound slot="icon" />
                <p slot="description">
                    {format(entry.data.dateFrom, 'MMM yyyy')} -{' '}
                    {entry.data.dateTo ? format(entry.data.dateTo, 'MMM yyyy') : 'Present'} ·
                    {calcLengthOfService(entry.data.dateFrom, entry.data.dateTo ?? new Date())}
                </p>
            </Event>
        ))
    }
</ul>
