---
import { getCollection } from 'astro:content';

import Chapter from '@components/home/experience/chapter/index.astro';
import ChapterSubtitle from '@components/home/experience/chapter/subtitle.astro';
import ChapterTitle from '@components/home/experience/chapter/title.astro';
import Organisation from '@components/home/experience/organisation/index.astro';

const universities = await getCollection('organisations', ({ data }) => {
    return data.type === 'university';
});
---

<div class="flex-grow bg-[#f7f7f4]">
    <div class="container mx-auto max-w-6xl space-y-16 py-16 md:space-y-32">
        <Chapter>
            <div class="flex flex-col space-y-4">
                <header>
                    <ChapterTitle>Education</ChapterTitle>
                    <ChapterSubtitle>How I got started</ChapterSubtitle>
                </header>
                <div>
                    {
                        universities.map((universities) => (
                            <Organisation organisation={universities} />
                        ))
                    }
                </div>
            </div>
        </Chapter>
    </div>
</div>
