---
import { getCollection } from 'astro:content';

import Chapter from '@components/home/experience/chapter/index.astro';
import ChapterDescription from '@components/home/experience/chapter/description.astro';
import ChapterTitle from '@components/home/experience/chapter/title.astro';
import Organisation from '@components/home/experience/organisation/index.astro';

import { GraduationCap } from '@lucide/astro';

const universities = await getCollection('organisations', ({ data }) => {
    return data.type === 'university';
});

import ChapterHeader from '@components/home/experience/chapter/header.astro';
---

<div class="flex-grow bg-white">
    <div class="container mx-auto max-w-6xl space-y-16 py-16 md:space-y-32">
        <Chapter>
            <div class="flex flex-col space-y-8">
                <header class="flex flex-row gap-4">
                    <ChapterHeader>
                        <ChapterTitle> Education </ChapterTitle>
                        <ChapterDescription>How I got started</ChapterDescription>
                    </ChapterHeader>
                    <div class="flex h-14 w-14 items-center justify-center">
                        <GraduationCap size="48" stroke-width={1} />
                    </div>
                </header>
                <div>
                    {
                        universities.map((universities) => (
                            <Organisation organisation={universities} />
                        ))
                    }
                </div>
            </div>
        </Chapter>
    </div>
</div>
