---
import Badge from '@components/block/Badge.astro';
import Section from '@components/block/Section.astro';
import SectionHead from '@components/block/SectionHead.astro';
import Organisation from '@components/home/experience/organisation/index.astro';
import { GraduationCap } from '@lucide/astro';
import { getCollection } from 'astro:content';

const universities = await getCollection('organisations', ({ data }) => {
    return data.type === 'university';
});
---

<Section id="education" alt>
    <SectionHead title="Education" subtitle="How I got started">
        <Badge slot="badge" label="Degree">
            <GraduationCap size={26} stroke-width={1.5} />
        </Badge>
    </SectionHead>
    <div class="mt-9">
        {
            universities.map((university, index) => (
                <Organisation
                    organisation={university}
                    isLast={index === universities.length - 1}
                />
            ))
        }
    </div>
</Section>
