---
import { Github, Linkedin, Worm } from 'lucide-astro'
---

<div class="hidden flex-col md:flex">
    <footer>
        <div class="container mx-auto">
            <nav class="h-16 px-4">
                <ol class="flex justify-end space-x-4">
                    <li>
                        <a href="#"><Github /></a>
                    </li>
                    <li>
                        <a href="#"><Linkedin /></a>
                    </li>
                    <li>
                        <a href="#"><Worm /></a>
                    </li>
                </ol>
            </nav>
        </div>
    </footer>
</div>
