---
import { Github, Linkedin, Worm } from 'lucide-astro'
---

<div class="hidden flex-col md:flex">
    <footer>
        <div class="container mx-auto max-w-5xl">
            <nav class="h-16 px-4">
                <ol class="flex justify-end space-x-4">
                    <li>
                        <a href="https://github.com/mjakinowittering" aria-label="GitHub"
                            ><Github /></a
                        >
                    </li>
                    <li>
                        <a
                            href="https://www.linkedin.com/in/matthewwittering/"
                            aria-label="LinkedIn"><Linkedin /></a
                        >
                    </li>
                    <li>
                        <a href="https://pypi.org/user/mjakinowittering/" aria-label="PyPI"
                            ><Worm /></a
                        >
                    </li>
                </ol>
            </nav>
        </div>
    </footer>
</div>
