---
import { Github, Linkedin, Worm } from 'lucide-astro'

const socials = [
    {
        site: 'Github',
        icon: Github,
        uri: 'https://github.com/mjakinowittering'
    },
    {
        site: 'LinkedIn',
        icon: Linkedin,
        uri: 'https://www.linkedin.com/in/matthewwittering/'
    },
    {
        site: 'PyPI',
        icon: Worm,
        uri: 'https://pypi.org/user/mjakinowittering/'
    }
]
---

<div class="flex-col md:flex">
    <footer>
        <div class="container mx-auto max-w-6xl">
            <nav class="px-4 py-8 text-slate-900">
                <ol class="flex justify-end space-x-4">
                    {
                        socials.map((social) => (
                            <li>
                                <a
                                    href={social.uri}
                                    aria-label={`Profile page on ${social.site}`}
                                    title={`Profile page on ${social.site}`}
                                >
                                    <social.icon />
                                </a>
                            </li>
                        ))
                    }
                </ol>
            </nav>
        </div>
    </footer>
</div>
