---
import { Github, Linkedin, Worm } from 'lucide-astro'
---

<div class="hidden flex-col md:flex">
    <footer>
        <div class="container mx-auto max-w-6xl">
            <nav class="h-16 px-4 text-slate-900">
                <ol class="flex justify-end space-x-4">
                    <li>
                        <a
                            href="https://github.com/mjakinowittering"
                            aria-label="Profile page on Github"
                            title="Profile page on Github"><Github /></a
                        >
                    </li>
                    <li>
                        <a
                            href="https://www.linkedin.com/in/matthewwittering/"
                            aria-label="Profile page on LinkedIn"
                            title="Profile page on LinkedIn"><Linkedin /></a
                        >
                    </li>
                    <li>
                        <a
                            href="https://pypi.org/user/mjakinowittering/"
                            aria-label="Profile page on PyPI"
                            title="Profile page on PyPI"><Worm /></a
                        >
                    </li>
                </ol>
            </nav>
        </div>
    </footer>
</div>
