---
import { getCollection } from 'astro:content'

import Organisation from './organisation.astro'

const universities = await getCollection('organisations', ({ data }) => {
    return data.type === 'university'
})
---

<div>
    {universities.map((universities) => <Organisation organisation={universities} />)}
</div>
