---
import { getCollection } from 'astro:content'

import Organisation from '../organisation/index.astro'

const universities = await getCollection('organisations', ({ data }) => {
    return data.type === 'university'
})
---

<div class="space-y-4">
    <h2 class="text-2xl font-extrabold tracking-tight text-gray-900 md:text-3xl">Education</h2>
    <div>
        {universities.map((universities) => <Organisation organisation={universities} />)}
    </div>
</div>
