---
import { type CollectionEntry, getCollection, getEntry } from 'astro:content'

import { Award } from 'lucide-astro'
import { format } from 'date-fns'

import Event from '../event/index.astro'

interface Props {
    event: CollectionEntry<'events'>
}

const { event } = Astro.props

const organisation = (await getCollection('organisations')).find((organisation) => {
    return organisation.data.id === event.data.organisationId
})
---

<Event title={event.data.title} uri={event.data.uri}>
    <Award slot="icon" />
    <p slot="description">
        {organisation?.data.name} ·
        {event.data.date && format(event.data.date, 'MMM yyyy')}
    </p>
</Event>
