---
import { getCollection } from 'astro:content'

import Organisation from './organisation.astro'

const trainers = await getCollection('organisations', ({ data }) => {
    return data.type === 'trainer'
})
---

<div class="">
    {trainers.map((trainers) => <Organisation organisation={trainers} />)}
</div>
