---
import { getCollection } from 'astro:content'

import Organisation from '../organisation/index.astro'

const trainers = await getCollection('organisations', ({ data }) => {
    return data.type === 'trainer'
})
---

<div class="space-y-4">
    <h2 class="text-2xl font-semibold text-gray-900 antialiased dark:text-white">Training</h2>
    <div>
        {trainers.map((trainers) => <Organisation organisation={trainers} />)}
    </div>
</div>
