---
import { getEntry, render } from 'astro:content';

import BlockContent from '@components/block/content.astro';
import Block from '@components/block/index.astro';
import BlockTitle from '@components/block/title.astro';
import { Clock4 } from '@lucide/astro';

const blurb = await getEntry('blurbs', 'experience');

if (!blurb) return Astro.redirect('/404');

const { Content } = await render(blurb);
---

<div class="flex-grow border-t border-b border-[#e2e2d3] bg-[#f7f7f4]">
    <div class="container mx-auto max-w-6xl space-y-16 py-16 md:space-y-32">
        <Block>
            <div class="flex flex-col space-y-8">
                <header class="flex h-14 flex-row gap-4">
                    <BlockTitle
                        class="flex h-14 flex-1 items-center justify-start"
                        >{blurb?.data.title}</BlockTitle
                    >
                    <div class="flex h-14 w-14 items-center justify-center">
                        <Clock4 size="48" stroke-width={1} />
                    </div>
                </header>
                <BlockContent>
                    {Content ? <Content /> : <p>Content not found</p>}
                </BlockContent>
            </div>
        </Block>
    </div>
</div>
