---
import { getEntry } from 'astro:content'

import Employment from './employment/index.astro'
import Education from './education/index.astro'
import Training from './training/index.astro'

const blurb = await getEntry('blurbs', 'experience')

const { Content } = await blurb.render()
---

<div id="experience" class="container mx-auto px-4">
    <div class="flex flex-col space-y-16">
        <div>
            <h2 class="text-3xl font-semibold text-gray-900 dark:text-white">{blurb.data.title}</h2>
            <div class="prose prose-lg prose-slate mt-4 text-gray-900 dark:text-white">
                <Content />
            </div>
        </div>
        <div class="md:grid md:grid-cols-2 md:gap-4">
            <div>
                <Employment />
            </div>
            <div>
                <Education />
                <Training />
            </div>
        </div>
    </div>
</div>
