---
import { getEntry } from 'astro:content'

import Employment from './employment/index.astro'
import Education from './education/index.astro'
import Training from './training/index.astro'

const blurb = await getEntry('blurbs', 'experience')

const { Content } = await blurb.render()
---

<div id="experience" class="container mx-auto">
    <div class="mx-4 my-16 text-slate-900">
        <h2 class="my-8 font-sans text-5xl font-bold antialiased">Experience</h2>
        <div class="prose prose-lg prose-slate my-8">
            <Content />
        </div>
        <div class="my-16 text-slate-500 md:grid md:grid-cols-2 md:gap-4">
            <div>
                <Employment />
            </div>
            <div>
                <h3 class="text-2xl font-bold text-slate-900 antialiased">Education & Training</h3>
                <Education />
                <Training />
            </div>
        </div>
    </div>
</div>

<style is:global>
    #experience .prose a {
        @apply font-sans font-semibold no-underline antialiased hover:underline;
    }
</style>
