---
import { getCollection, getEntry, render } from 'astro:content';

import BlockContent from '../../block/content.astro';
import Block from '../../block/index.astro';
import BlockTitle from '../../block/title.astro';

import { Laptop } from '@lucide/astro';
import Skill from './skill.astro';

const blurb = await getEntry('blurbs', 'what-do-i-do');

if (!blurb) return Astro.redirect('/404');

const { Content } = await render(blurb);

const skills = (await getCollection('skills')).sort(function (a, b) {
    return a.data.index - b.data.index;
});
---

<div class="flex-grow bg-white">
    <div class="container mx-auto max-w-6xl pt-16 pb-32 md:space-y-16">
        <Block>
            <header class="flex h-14 flex-row gap-4">
                <BlockTitle class="flex h-14 flex-1 items-center justify-start"
                    >{blurb?.data.title}</BlockTitle
                >
                <div class="flex h-14 w-14 items-center justify-center">
                    <Laptop size="48" stroke-width={1} />
                </div>
            </header>
            <BlockContent>
                {Content ? <Content /> : <p>Content not found</p>}
            </BlockContent>
        </Block>
        <div class="grid gap-8 md:grid-cols-3">
            {skills.map((skill) => <Skill entry={skill} />)}
        </div>
    </div>
</div>
