---
import { getCollection, getEntry } from 'astro:content'

import Block from '../../block/index.astro'
import BlockTitle from '../../block/title.astro'
import BlockContent from '../../block/content.astro'

import Skill from './skill.astro'

const blurb = await getEntry('blurbs', 'what-do-i-do')

const Content = blurb ? (await blurb.render()).Content : null

const skills = (await getCollection('skills')).sort(function (a, b) {
    return a.data.index - b.data.index
})
---

<Block>
    <div class="flex flex-col space-y-4">
        <BlockTitle>{blurb?.data.title}</BlockTitle>
        <BlockContent>
            {Content ? <Content /> : <p>Content not found</p>}
        </BlockContent>
    </div>
    <div class="grid gap-8 md:grid-cols-3">
        {skills.map((skill) => <Skill entry={skill} />)}
    </div>
</Block>
