---
import Badge from '@components/block/Badge.astro';
import Section from '@components/block/Section.astro';
import SectionHead from '@components/block/SectionHead.astro';
import { Laptop } from '@lucide/astro';
import { getCollection, getEntry, render } from 'astro:content';
import Skill from './Skill.astro';

const blurb = await getEntry('blurbs', 'what-do-i-do');

if (!blurb) return Astro.redirect('/404');

const { Content } = await render(blurb);

const skills = (await getCollection('skills')).sort(function (a, b) {
    return a.data.index - b.data.index;
});
---

<Section>
    <SectionHead title={blurb.data.title} subtitle={blurb.data.subtitle}>
        <Badge slot="badge" label="Craft">
            <Laptop size={26} stroke-width={1.5} />
        </Badge>
    </SectionHead>
    <div
        class="prose text-muted prose-p:text-[15px] prose-p:leading-[1.65] prose-p:text-muted mt-5 max-w-[70ch]"
    >
        {Content ? <Content /> : <p>Content not found</p>}
    </div>
    <div class="mt-9 grid gap-[22px] md:grid-cols-3">
        {skills.map((skill) => <Skill entry={skill} />)}
    </div>
</Section>
