---
import type { CollectionEntry } from 'astro:content';
import { render } from 'astro:content';

interface Props {
    entry: CollectionEntry<'skills'>;
}

const { entry } = Astro.props;

const { Content } = await render(entry);
---

<div
    class="mx-auto flex max-w-lg flex-col space-y-8 rounded border border-[#e2e2d3] bg-[#fbfbf9] p-6 text-gray-900 xl:p-8"
>
    <div>
        <h5 class="mb-4 text-2xl font-semibold">
            {entry.data.title}
        </h5>
        <div class="prose font-normal">
            {Content ? <Content /> : <p>Content not found</p>}
        </div>
    </div>
</div>
