---
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'

interface Props {
    entry: CollectionEntry<'skills'>
}

const { entry } = Astro.props

const { Content } = await entry.render()
---

<div class="flex flex-col space-y-4 bg-stone-50 p-4 md:rounded-md">
    <div class="flex h-16 w-16 items-center justify-center rounded-md bg-stone-200">
        <Image src={entry.data.img} alt={entry.data.alt} class="h-12 w-12" loading="eager" />
    </div>
    <div>
        <h5 class="text-xl font-semibold tracking-tight antialiased">
            {entry.data.title}
        </h5>
        <div class="prose prose-lg prose-slate">
            <Content />
        </div>
    </div>
</div>
